.header {
    position: sticky;
    top: 0;
    background-color: var(--с-neutral-light);
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
}

.header .logo, 
.header .burger {
    z-index: 1;
    position: relative;
}

.header__nav-list {
    position: fixed;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(1.5rem, 1rem + 3vw, 2rem);
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-inline: calc(var(--container-gap) / 2);
    width: 100%;
    background-color: var(--с-neutral-light);
    transition-property: left;
    transition-duration: var(--animation-time);
    transition-timing-function: ease-in-out;
}

.header__nav-list.active {
    left: 0;
}

@media (width > 768px) {
    .header .burger {
        display: none;
    }

    .header__nav-list {
        position: static;
        flex-direction: row;
        justify-content: center;
        padding: 0;
    }
}